@import "bootstrap/scss/bootstrap";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.centered-container {
  // display: flex;
  // justify-content: center;
  // align-items: center;
  // width: 100%;
  height: 100vh;
}

.row {
  flex-direction: column; // 세로로 나란히 정렬
  justify-content: center;
  align-items: center;
}

.imageS {
  width: 25vw;

  img {
    width: 100%;
  }
}

.width100 {
  width: 100%;
}

.errorText {
  color: red;
  font-size: 0.8rem;
}

.profile-list-item {
  width: 100%;
  height: 8vh;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #ddd;

  .profile-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 15px;

    img {
      width: 100%;
      border-radius: 50%;
      object-fit: cover;
      margin-right: 15px;
    }
  }

  .profile-left {
    display: flex;
    align-items: center;

    .profile-nickname {
      font-size: 1.1rem;
    }
  }

  .profile-message {
    font-size: 0.9rem;
    color: #888;
    text-align: right;
  }
}
